
@{
    ViewBag.Title = "Editar";
}


<div class="container container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="bg-light navbar-nav rounded-bottom">
                <h3 class="align-baseline mb-3 mt-2 p-3 text-info">Editando tarefa</h3>
            </div>
        </div>
    </div>
    <form class="mt-3" method="post" action="/tarefa/update">
        <input type="hidden" name="id" value="@ViewBag.Tarefa.Id" />
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-titulo">Título</label>
                    <input type="text" name="titulo" class="form-control" id="campo-titulo" value="@ViewBag.Tarefa.Titulo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-descricao">Descrição</label>
                    <input type="text" name="descricao" class="form-control" id="campo-descricao" value="@ViewBag.Tarefa.Descricao" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-duracao">Duração</label>
                    <input type="datetime" name="duracao" class="form-control" id="campo-duracao" value="@ViewBag.Tarefa.Duracao.ToShortDateString()" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-usuario">Usuário</label>
                    <select name="usuario" id="campo-usuario" class="form-control">
                        @foreach (Model.Usuario usuario in ViewBag.Usuario)
                        {
                            if (usuario.Id == ViewBag.Tarefa.IdUsuarioResponsavel)
                            {
                                <option value="@usuario.Id" selected="selected">@usuario.Nome</option>
                            }
                            else
                            {
                                <option value="@usuario.Id">@usuario.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-projeto">Projeto</label>
                    <select name="projeto" id="campo-projeto" class="form-control">
                        @foreach (Model.Projeto projeto in ViewBag.Projeto)
                        {
                            if (projeto.Id == ViewBag.Tarefa.IdProjeto)
                            {
                                <option value="@projeto.Id" selected="selected">@projeto.Nome</option>
                            }
                            else
                            {
                                <option value="@projeto.Id">@projeto.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-categoria">Categoria</label>
                    <select name="categoria" id="campo-categoria" class="form-control">
                        @foreach (Model.Categoria categoria in ViewBag.Categoria)
                        {
                            if (categoria.Id == ViewBag.Tarefa.IdCategoria)
                            {
                                <option value="@categoria.Id" selected="selected">@categoria.Nome</option>
                            }
                            else
                            {
                                <option value="@categoria.Id">@categoria.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>